<div class="table-responsive ">
	<table id="userList" class="table ">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Nombre</th>
				<th scope="col">Apellidos</th>
				<th scope="col">Usuario</th>
				<th scope="col">Email</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="usuario: ${userList}">
				<!-- <th scope="row">1</th> -->
				<td th:text="${usuario.id}"></td>
				<td th:text="${usuario.nombre}"></td>
				<td th:text="${usuario.apellidos}"></td>
				<td th:text="${usuario.nombreusuario}"></td>
				<td th:text="${usuario.email}"></td>
				<td>
					 
						<a href="#" th:href="@{'/editarUsuario/'+ ${usuario.id}}"><i class="fas fa-edit"></i></a>
				
				</td>
			</tr>
		</tbody>
	</table>
</div>