body{
    background: url(../img/puerta84.jpg) no-repeat center center fixed;
    background-size: cover;
}

.table{
background: whitesmoke;
}
.nav{
    width: 100%;
}
.form-group{
    padding: 10px;
}
.formulariomio{
    width: 50%;
}
.main-section{
    margin:0 auto;
    margin-top:5%;
}
.card{
	opacity: .85;
}

label{
	font-weight: bold;
}

.nav-tabs .nav-item a:not(.active){
	background-color: #d1d3d6;
}

.nav-tabs{
	border-bottom:0px;
}